.container{
    width: 1360px;
    padding: 15px 15px;
    margin: 0 auto;

}
@media only screen and (max-width: $tablet){
    .container{
        width: 683px;
        border: 1px solid transparent;
    }
}
@media only screen and (max-width: $mobile){
    .container{
        width: 350px;
        border: 1px solid transparent;
    }
}